* text=auto
* export-ignore
.* export-ignore
/CHANGES.md -export-ignore
/CHANGES.md/** -export-ignore
/LICENSE -export-ignore
/LICENSE/** -export-ignore
/NOTICE -export-ignore
/NOTICE/** -export-ignore
/README.md -export-ignore
/README.md/** -export-ignore
/composer.json -export-ignore
/composer.json/** -export-ignore
/lib -export-ignore
/lib/php -export-ignore
/lib/php/README.apache.md -export-ignore
/lib/php/README.apache.md/** -export-ignore
/lib -export-ignore
/lib/php -export-ignore
/lib/php/README.md -export-ignore
/lib/php/README.md/** -export-ignore
/lib -export-ignore
/lib/php -export-ignore
/lib/php/lib -export-ignore
/lib/php/lib/** -export-ignore
